{
  "parser": "babel-eslint",
  "extends": [
    "airbnb",
    "plugin:lodash-fp/recommended"
  ],
  "plugins": [
    "import",
    "lodash-fp",
    "flowtype"
  ],
  "env": {
    "browser": true,
    "node": true,
    "jest": true,
    "es6": true
  },
  "rules": {
    "global-require": 0,
    "no-underscore-dangle": 0,
    "no-console": 0,
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": true
      }
    ],
    "function-paren-newline": 0
  }
}